li{
    display: inline-block;

}
body>div{
    display: inline-block;
}

#container{
    width:70%;
    margin: auto;
    background-color:#888282;
    display: inline-block;
}
#content{
    margin:auto;
    padding:auto;
    background-color:#aaa2a2;
    display: inline-block
}
div>div>article{
    margin-left: 1%;
    margin-right: 1%;
    width:30%;
    height: 50;
    float: left;
    text-align: left;
}
a{
    color:red;
    text-decoration: none;
}